{{ $why      := site.Params.why }}
{{ $features := site.Params.features }}


<section class="hero is-primary is-medium is-bold">
  <div class="hero-body">
    <div class="container">
<style>
.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: center;
  }
.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.grid > article img {
  max-width: 100%;
}

</style>
<main class="grid">
  <article>
    <center>
    <img src="img/logos/1.png" alt="Sample photo">
      <a class="button is-secondary is-size-5 is-size-6-mobile" href="/docs/0.0.1/">
        <span>
        Rust  <br> 
        Quick Start
        
        </span>
      </a>
    </center>
  </article>
  <article>
    <center>
    <img src="img/logos/2.png" alt="Sample photo">
      <a class="button is-secondary is-size-5 is-size-6-mobile" href="/docs/0.0.1/">
        <span>
        Rust  <br> 
        Intermediate
        
        </span>
      </a>
    </center>
  </article>
  <article>
    <center>
    <img src="img/logos/3.png" alt="Sample photo">
      <a class="button is-secondary is-size-5 is-size-6-mobile" href="/docs/0.0.1/">
        <span>
        Rust  <br> 
        Advanced
        </span>
      </a>
    </center>
  </article>
  
  
</main>

</section>
</div>
</div>
</section>


<section class="section">
  <div class="container">
    <div class="columns is-variable is-8">
      <div class="column">
        <p class="title is-size-2 is-size-3-mobile">
         Learn with Hands-on Labs 
        </p>

        {{ range $features }}

        <p class="title is-size-4 is-size-5-mobile">
          {{ .title }}
        </p>

        <div class="content">
          {{ .text | markdownify }}
        </div>


        {{ end }}
      </div>

     
      <div class="column">
     

     
  
       
      </div>
    </div>
  </div>
</section>

